@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: normal;
  background: #bdb76b;
  color: #0f141e;
}

a {
  color: #0f141e;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  color: aqua;
}

a:visited {
  color: gray;
}

h1 {
  color: #556b2f;
}
.container {
  max-width: 750px;
  margin: auto;
  padding-top: 30px;
}

.avatar {
  width: 370px;
  border-radius: 28px;
  box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.25);
}

.info {
  margin-bottom: 20px;
  display: flex;
}

.info-text {
  margin-left: 40px;
}

.info-text p {
  font-style: italic;
  font-weight: bold;
  color: rgb(17, 37, 7);
  margin: 0;
}

.info text h4 {
  margin-bottom: 10px;
}

@media (max-width: 780px) {
  .info {
    display: block;
    text-align: center;
  }
}
.card {
  border-radius: 20px;
  padding: 15px 20px;
  margin-bottom: 20px;
}

.card h2 {
  margin-top: 0;
  margin-bottom: 10px;
  color: #556b2f;
}
.bg-yellow {
  background: #b3ad63;
}

.bg-green {
  background: #c5e785;
}

.btn {
  background: #1c2b03;
  padding: 15px 20px;
  color: #e9edf5;
  border: none;
  font-family: inherit;
  cursor: pointer;
  display: block;
  margin: auto;
}

.btn:hover {
  opacity: 0, 8;
}

.list {
  padding: 0 20px;
}

.list li {
  color: rgb(17, 37, 7);
  margin-bottom: 10px;
}

.link-list {
  list-style: none;
  padding: 0;
}

.link-list li {
  margin-bottom: 10px;
  border-bottom: 1px solid rgb(75, 75, 75);
  padding-bottom: 5px;
}

.table {
  width: 100%;
}

th {
  text-align: left;
}

.table td {
  padding-bottom: 5px;
}

.table td:nth-child(2),
.table td:nth-child(3) {
  color: rgb(17, 37, 7);
}

.form h2 {
  text-align: center;
}

.form-row {
  margin-bottom: 10px;
  display: flex;
}

.form-row .form-group {
  /* display: inline-block; */
  margin-right: 20px;
  width: 50%;
  /* width: calc(50% - 20px); */
}

.form-row .form-group:last-child {
  margin-right: 0;
}

@media (max-width: 780px) {
  .form-row {
    display: block;
  }

  .form-row .form-group {
    width: 100%;
    margin-right: 0;
    margin-bottom: 10px;
  }
}

.form-group label {
  display: block;
  font-size: 14px;
  color: rgb(17, 37, 7);
}

.form-group input,
.form-group textarea {
  width: 100%;
  box-sizing: border-box;
  border: none;
  background: transparent;
  border-bottom: 1px solid rgb(75, 75, 75);
  color: #000;
  padding: 15px 0 10px;
  outline: none;
  font-family: inherit;
}
